* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
	background-color: RGB(3,22,52);
}

a {
	color: #4C4C4C;
	text-decoration: none;
}

a:hover {
	color: RGB(3,22,52);
}

.back-div {
	background: #F3F3FF;
	border-radius: 46px;
	width: 65%;
	min-height: 90vh;
	height: auto;
	margin: auto;
	margin-top: 5vh;
	padding: 0px 10%;
	display: grid;
}

p {
	font-weight: 500;
	font-size: 32px;
	margin-top: 20px;
	text-align: center;
}

.img-div {
	display: flex;
	justify-content: center;
	align-items: end;
	height: auto;
	min-height: 260px;
	width: 100%;
}

.img-div img {
	width: 25%;
	min-width: 200px;
}

.mid-div {	
	display: flex;
	text-align: center;
	width: 100%;
	height: auto;
	margin-top: 40px;
}

.mid-div h3 {
	font-size: 28px;
}

.mid-div hr {
	margin: 13px auto;
	border: none;
	border-top: solid 3px #FAAF3A;
	width: 20%;
}

.mid-div a {
	font-weight: 600;
	font-size: 22px;
}

.mid-div-left {
	width: 50%;
	margin-right: 50px;
}

.mid-div-right {
	width: 50%;
	margin-left: 50px;
}

.end-div {
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

.end-div h4 { 
	font-size: 28px;
	margin-bottom: 10px;
}

.end-div img {
	margin-right: 20px;
}

.end-div-bot {
	display: flex;
}

.end-div-bot a {
	font-weight: 700;
	font-size: 18px;
}

.end-div-bot div {
	margin: 15px auto;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 920px) {
	html {
		zoom: 0.8;
	}

	p {
		margin-top: 30px;
		font-size: 28px;
	}

	.mid-div {
		display: grid;
		margin: 40px 0;
	}

	.mid-div-right, .mid-div-left {
		width: 100%;
	}

	.mid-div-right {
		margin-top: 35px;
		margin-left: 0;
	}

	.back-div {
		height: auto;
	}

	.end-div {
		margin: 20px auto;
	}

	.end-div-bot {
		display: grid;
	}

	.end-div-bot div:nth-child(3) img {
		width: 40px;
		height: 40px;
	}
}